.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
  

  
.Username{
    margin-right: 10px;
}
  
.messageText{
      padding: 10px;
      border-radius: 20px;
      background-color: #e66bc1;
      color: white;
      max-width: 300px;
}
  
.messageBottom{
      font-size: 12px;
      margin-top: 10px;
}
.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(82, 170, 211);
    color: black;
}